* {
  margin: 0;
  padding: 0%;
}

body {
  background-color: #eeeeee;
}

h1 {
  font-family: "open sans";
  font-weight: 800;
  color: #222831;
}

h2 {
  font-family: "open sans";
  font-weight: 800;
  color: #222831;
}

h3 {
  font-family: "open sans";
  color: #222831;
  font-weight: 500;
}

h4 {
  font-family: "open sans";
  font-weight: 400;
  color: #393e46;
}

/* Nav Bar */

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #222831;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  color: #eeeeee;
  margin-right: auto;
  font-family: "Amaranth";
  letter-spacing: 3px;
  font-size: 30px;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #eeeeee;
  font-family: "open sans";
  font-weight: lighter;
  font-size: 18px;
}

nav ul li a:hover {
  color: #00adb5;
}
.cta-nav {
  margin: 0 20px;
  background-color: #00adb5;
  color: #222831;
  border-radius: 23px;
  font-family: "open sans";
  font-weight: bold;
  border-style: none;
  text-align: center;
  padding: 9px 25px;
  cursor: pointer;
}

.cta-nav:hover {
  color: #eeeeee;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #00adb5;
  margin: 5px;
}

/* Intro */
.intro-wrap {
  display: flex;
  margin: 200px 0 0;
}

.intro-text {
  flex-basis: 40%;
  margin-top: 80px;
  margin-left: 10%;
  position: relative;
}

.intro-text h1 {
  font-size: 500%;
  line-height: 1.5;
}

.intro-text h3 {
  font-size: 200%;
  line-height: 1.5;
}

.pro {
  text-decoration: underline;
}

.intro-image {
  flex-basis: 60%;
  position: relative;
  align-items: flex-end;
}

.developer-img {
  width: 100%;
}

.cta {
  background-color: #00adb5;
  color: #222831;
  border-radius: 30px;
  font-family: "open sans";
  font-weight: bold;
  border-style: none;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 25px;
  font-size: larger;
}

.cta:hover {
  color: #eeeeee;
}

.fa-envelope {
  margin: 10px;
}

.breaker {
  font-size: larger;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  background-color: #00adb5;
}

/* My Skills */

.card-wrap {
  margin: 100px 100px;
  display: flex;
}

.card {
  text-align: center;
  flex-basis: 50%;
}

.card-img {
  width: 25%;
}

.card h3 {
  margin: 10px 0 10px;
  line-height: 1.5;
}

.card h4 {
  width: 30%;
  margin: 0 auto;
  line-height: 1.5;
}

/* Work */

.work-card h4 {
  width: 40%;
}
.work-card .card-img {
  width: 30%;
}

/* About Me */

.about-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 5px;
}

.about-img {
  flex-basis: 40%;
  position: relative;
}

.about-text {
  flex-basis: 60%;
  position: relative;
}

.about-img img {
  width: 100%;
}

/* Block Quote*/

.blockquote {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockquote-bordered {
  height: 200px;
  width: 10px;
  background-color: #00adb5;
}

.blockquote-text {
  letter-spacing: 1px;
  font-family: "open sans";
  font-weight: light;
  line-height: 1.5;
  width: 65%;
  padding: 20px;
  font-size: 1.3rem;
  word-spacing: 2px
}
.blockquote-bordered:last-child {
  visibility: hidden;
}

/* footer */
.footer-wrap {
  background-color: #00adb5;
  text-align: center;
  padding: 50px;
}

.footer-icon {
  padding: 0 5px;
  color: #222831;
  font-size: 20px;
}

.copyright-text {
  font-weight:500;
  color: #222831;
  margin-top: 10px;
}

.footer-icon:hover {
  color: #eeeeee;
}

/* Media Query */

@media screen and (max-width: 1500px) {
  .intro-wrap {
    flex-direction: column;
    margin-top: 60px;
  }
  .intro-text {
    flex-basis: 100%;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .intro-image {
    flex-basis: 100%;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .developer-img {
    width: 70%;
  }
  .card-img {
    width: 35%;
  }
  .card h4 {
    width: 70%;
  }
  .work-card .card-img {
    width: 50%;
}
.work-card h4 {
  width: 75%;
}
}

@media screen and (max-width: 1050px) {
  .blockquote-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .card-wrap {
    align-items: center;
    flex-direction: column;
  }
  .card {
    flex-basis: 100%;
  }

  .card-two {
    margin-top: 100px;
  }

  .card-img {
    width: 30%;
  }
  .card h4 {
    width: 40%;
  }

  .work-card h4 {
    width: 40%;
  }
  .work-card .card-img {
    width: 30%;
  }

  .about-wrap {
    flex-direction: column-reverse;
  }
  .about-img {
    text-align: center;
  }
  .about-img img {
    width: 80%;
  }
  .blockquote-bordered:last-child {
    visibility: visible;
  }

  .blockquote-bordered {
    height: 210px;
  }

  .about-img:first-child {
    margin: 50px 0;
  }

  .blockquote-text {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 820px) {
  .navbar {
    justify-content: center;
  }

  .main-div {
    position: relative;
    overflow-x: hidden;
  }

  nav ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 65px;
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  .logo {
    font-size: 20px;
  }

  .skills {
    margin-top: 50px;
  }
  nav ul li {
    margin: 10px 0;
    opacity: 0;
  }

  .cta-nav {
    visibility: hidden;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translate(0%);
  }

  .breaker {
    font-size: medium;
    padding: 15px 0;
  }

  /* .work-card h4 {
    width: 80%;
  }
  .work-card .card-img {
    width: 50%;
  } */
}

@media screen and (max-width: 600px) {
  .intro-text h1 {
    font-size: 300%;
    line-height: 1.5;
    margin-top: 10px;
  }

  .intro-text h3 {
    font-size: 130%;
    line-height: 1.5;
    margin-top: 20px;
  }

  .cta {
    padding: 7px 15px;
    font-size: medium;
  }

  .logo {
    font-size: 15px;
  }

  .card h4 {
    width: 60%;
}
  .work-card h4 {
    width: 100%;
  }
  .work-card .card-img {
    width: 50%;
  }
}

@media screen and (max-width: 540px) {
  .card-img {
    width: 45%;
  }
  .card h4 {
    width: 80%;
  }
  .card-two {
    margin-top: 50px;
  }
  .card-wrap {
    margin: 50px 50px;
    display: flex;
  }
  .work-wrap {
    margin: 50px 0;
  }
  .work-card h4 {
    width: 70%;
  }
  .work-card .card-img {
    width: 35%;
  }

  .blockquote-text {
    width: 85%;
    font-size: 0.9rem;
  }

  .about-wrap {
    margin: 50px 5px;
  }

  .footer-wrap {
    padding: 30px;
  }
}

/* Animation */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
